<% if @results[:google_results] %>
  <table>
    <tr>
      <td>Title</td>
      <td>Link</td>
    </tr>

    <% @results[:google_results].items.each do |result| %>
      <tr>
        <td><%= result.title %></td>
        <td><%= link_to result.link, result.link %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Sorry, no results from google</p>
<% end %>
