<% if @service == "google" %>
  <table>
    <tr>
      <td>Title</td>
      <td>Link</td>
    </tr>

    <% @results.items.each do |result| %>
      <tr>
        <td><%= result.title %></td>
        <td><%= link_to result.link, result.link %></td>
      </tr>
    <% end %>
  </table>
<% elsif @service == "twitter" %>
  <table>
    <tr>
      <td>tweet</td>
    </tr>

    <% @results.results.each do |result| %>
      <tr>
        <td><%= result.text %></td>
      </tr>
    <% end %>
  </table>
<% end %>
