<div id="fade-me">
  <div id="droppable">

    <p>Drop stuff in here!</p>

    <%= form_for @search do |f| %>

      <div id="draggable"><%= f.text_field :terms, size: 10, placeholder: "Type * Drag" %></div>

      <%= f.submit %>

    <% end %>

  </div>

  <a id="add-div" class="button">button</a>
</div>
