div.ui-draggable {
  position: absolute;
  left: 120px;
  z-index: 1;
  height: 40px;
  width: 200px;
  background: rgb(32,168,108);
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  text-align: left;
  transition: box-shadow 0.4s ease-in-out;
  -webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
  -moz-transition: -moz-box-shadow 0.4s ease-in-out;

  &:active {
    -webkit-box-shadow:0 0 15px rgb(45,130,94);
    -moz-box-shadow: 0 0 15px rgb(45,130,94);
    box-shadow:0 0 15px rgb(45,130,94);
  }

  input {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    margin-left: 5px;
    min-width: 100px;
  }

  &:focus {
      border-color: #339933;
  }
}

div {
  .terms {
    background-color: rgb(50,194,213) !important;
    top: 53%;
    left: 10%;
  }

  .domain {
    top: 17%;
    left: 10%;
  }

  .image {
    top: 23%;
    left: 10%;
  }

  .file_type {
    top: 29%;
    left: 10%;
  }

  .must_have {
    top: 35%;
    left: 10%;
  }

  .excluded_terms {
    top: 41%;
    left: 10%;
  }

  .exact_terms {
    top: 47%;
    left: 10%;
  }

  #twitter {
    top: 60%;
    left: 5%;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 29px;
      background:url("twitter.png") center bottom no-repeat !important;
  }

  #google {
    top: 33%;
    left: 5%;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 29px;
    background:url("google.png") center bottom no-repeat !important;
  }

  .result_type {
    background-color: rgb(123,175,220) !important;
    top: 59%;
    left: 10%;
  }
}

.handle {
  position: absolute;
  border: 0.1em solid black;
  width: 1em;
  height: 1em;
}
