/*** Style Definitions ***/
html {
  background-color: rgb(64,70,73);
  font-family:Arial, Helvetica, sans-serif;
}

/*** Clouds ***/
.clouds {
  width:100%;
  height:262px;
  overflow:hidden;
}

#clouds-small {
  width:3000px;
  height:100%;
  background:url(bg-clouds-small.png) repeat-x;
}

#cloud2 {
  position:relative;
  top:-262px;
}

#clouds-big {
  width:4000px;
  height:100%;
  background:url(bg-clouds-big.png) repeat-x;
}

/*** Header ***/
h1#logo {
  background: image-url("Logo.png") top left no-repeat;
  height:62px;
  width:481px;
  text-indent:-9999px;
  position:absolute; top:10px;
  left:10px;
}

#menu {
  float:right;
  position:absolute;
  top:20px;
  right:10px;
  z-index:10;

  a {
    background:rgb(34,168,108);
    color:rgb(240,240,240);
    text-decoration:none;
    padding:10px;
    margin-right:10px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
  }

  a:hover {
    background:#67b2ff;
    color:#FFF;
    border:#FFF 3px solid;
    text-decoration:none;
    padding:10px;
    margin-right:10px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
  }

  a.selected {
    background:#AAA;
    color:#FFF;
    border:#67b2ff 3px solid;
    text-decoration:none;
    padding:10px;
    margin-right:10px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
  }

  li {
    float:left;
  }
}


/*** Body Content ***/

.link {
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro',
    Helvetica, Arial, sans-serif;
}

#nav-bar {
  background-color: black;
  height: 15px;
  width: 350px;
  margin-top: 40px;

  div#slide {
    background: rgb(32,168,108);
    height: 15px;
    width: 100px;
    position: absolute;
  }
}

ul {
list-style-image: none;
list-style-type: none;
}

#wrapper {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
}

#mask {
  -webkit-padding-start: 0;
  -webkit-margin-start: 0;
  width:400%;
  height:100%;
}

.box {
  width:25%;
  height:100%;
  float:left;
}

.content {
  float:left;
  width:740px;
  height:400px;
  margin: 0 auto;
  position: absolute;
  background:rgba(255,255,255, 0);
  border-radius:35px;
  -moz-border-radius:35px;
  -webkit-border-radius:35px;
}

#search-box {
  top: 20%;
  left: 33%;
}

.inner {
  width:700px;
  height:360px;
  background:rgba(34, 92, 135, .7);
  border-radius:30px;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  padding:15px;
  margin: 0 auto;
  top:5px;
  position:relative;
}

#google-drags {
  // float:left;
  width:20%;
  height:40%;
  background:rgba(55, 103, 86, 0.5);
  border-radius:30px;
  margin: 0 25px 0 50px;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  padding:15px;
  top:20%;
  position:relative;
}

#twitter-drags {
  float:left;
  width:20%;
  height:15%;
  background:rgba(57, 105, 125, 0.5);
  border-radius:30px;
  margin: -40px 25px 0 50px;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  padding:15px;
  top:20%;
  position:relative;
}


