#top-bar {
  position: absolute;
  width: 100%;
  height: 20px;
  background-color: grey;
  display: inline;
  float: left;
  z-index: 11;

  h4 {
    margin: 0 10px 0 10px;
    display: inline;
    float: left;
    z-index: 11;
  }

  form {
    z-index: 11;
    display: inline;
    float: left;

    div {
      display: inline;
      float: left;

      label {
        display: inline;
        float: left;
      }

      input {
        width: 75px;
        display: inline;
        float: left;
      }
    }
  }
}
